<h1>Links</h1>
<ul>
  <li><a href="http://folk.ntnu.no/asmunder">My PhD webpage</a></li>
</ul>
<h5>Software I use and like:</h5>
<ul>
  <li><a href="http://codeblue.umich.edu/hoomd-blue/">HOOMD-blue</a></li>
  <li><a href="http://www.mcs.anl.gov/petsc/">PETSc</a></li>
  <li><a href="http://pandas.pydata.org/">Pandas</a></li>
  <li><a href="http://flask.pocoo.org/">Flask</a></li>
  <li><a href="http://www.blender.org/">Blender</a></li>
  <li><a href="http://www.paraview.org/">Paraview</a></li>
</ul>
